name: Embodied End-to-End Tests

on:
  workflow_call:

jobs:
  embodied-maniskill-ppo-openvla-test:
    runs-on: image-test
    defaults:
      run:
        shell: bash
    image: harbor.infini-ai.com/magatron_infinigence_images/megatron-infinigence:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: OpenVLA test
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source switch_env openvla
          bash tests/e2e_tests/embodied/run.sh maniskill_ppo_openvla
          
  # embodied-maniskill-grpo-openvlaoft-test:
  #   runs-on: image-test
  #   defaults:
  #     run:
  #       shell: bash
  #   container:
  #     image: rlinf/rlinf:agentic-rlinf0.1-torch2.6.0-openvla-openvlaoft-pi0
  #     volumes:
  #       - /workspace/dataset:/workspace/dataset
  #     options: --gpus="all" --shm-size=2g
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v5
  #     - name: OpenVLA test
  #       timeout-minutes: 20
  #       run: |
  #         export REPO_PATH=$(pwd)
  #         source switch_env openvla-oft
  #         cp -r /workspace/dataset/maniskill_assets/assets ${REPO_PATH}/rlinf/envs/maniskill/
  #         bash tests/e2e_tests/embodied/run.sh maniskill_grpo_openvlaoft 2>&1 | tee /tmp/test_output.log

  # embodied-libero-goal-grpo-openvlaoft-test:
  #   runs-on: image-test
  #   defaults:
  #     run:
  #       shell: bash
  #   container:
  #     image: rlinf/rlinf:agentic-rlinf0.1-torch2.6.0-openvla-openvlaoft-pi0
  #     volumes:
  #       - /workspace/dataset:/workspace/dataset
  #     options: --gpus="all" --shm-size=2g
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v5
  #     - name: OpenVLA-OFT test
  #       timeout-minutes: 20
  #       run: |
  #         export REPO_PATH=$(pwd)
  #         source switch_env openvla-oft
  #         bash tests/e2e_tests/embodied/run.sh libero_goal_grpo_openvlaoft 2>&1 | tee /tmp/test_output.log

  # embodied-libero-130-grpo-openvlaoft-test:
  #   runs-on: image-test
  #   defaults:
  #     run:
  #       shell: bash
  #   container:
  #     image: rlinf/rlinf:agentic-rlinf0.1-torch2.6.0-openvla-openvlaoft-pi0
  #     volumes:
  #       - /workspace/dataset:/workspace/dataset
  #     options: --gpus="all" --shm-size=2g
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v5
  #     - name: OpenVLA-OFT test
  #       timeout-minutes: 20
  #       run: |
  #         export REPO_PATH=$(pwd)
  #         source switch_env openvla-oft
  #         bash tests/e2e_tests/embodied/run.sh libero_130_grpo_openvlaoft 2>&1 | tee /tmp/test_output.log

  # embodied-libero-spatial-ppo-openpi-test:
  #   runs-on: image-test
  #   defaults:
  #     run:
  #       shell: bash
  #   container:
  #     image: rlinf/rlinf:agentic-rlinf0.1-torch2.6.0-openvla-openvlaoft-pi0
  #     volumes:
  #       - /workspace/dataset:/workspace/dataset
  #     options: --gpus="all" --shm-size=2g
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v5
  #     - name: OPENPI test
  #       timeout-minutes: 20
  #       run: |
  #         export REPO_PATH=$(pwd)
  #         source switch_env openpi
  #         bash tests/e2e_tests/embodied/run.sh libero_spatial_ppo_openpi 2>&1 | tee /tmp/test_output.log

  # embodied-libero-spatial-ppo-openpi05-test:
  #   runs-on: image-test
  #   defaults:
  #     run:
  #       shell: bash
  #   container:
  #     image: rlinf/rlinf:agentic-rlinf0.1-torch2.6.0-openvla-openvlaoft-pi0
  #     volumes:
  #       - /workspace/dataset:/workspace/dataset
  #     options: --gpus="all" --shm-size=2g
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v5
  #     - name: OPENPI test
  #       timeout-minutes: 20
  #       run: |
  #         export REPO_PATH=$(pwd)
  #         source switch_env openpi
  #         bash tests/e2e_tests/embodied/run.sh libero_spatial_ppo_openpi05 2>&1 | tee /tmp/test_output.log

  # embodied-behavior-ppo-openvlaoft-test:
  #   runs-on: image-test
  #   container:
  #     image: rlinf/rlinf:agentic-rlinf0.1-torch2.6.0-openvla-openvlaoft-pi0
  #     volumes:
  #       - /workspace/dataset:/workspace/dataset
  #     options: --gpus="all" --shm-size=2g
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v5
  #     - name: BEHAVIOR-OpenVLA-OFT test
  #       timeout-minutes: 20
  #       run: |
  #         export REPO_PATH=$(pwd)
  #         export OMNIGIBSON_DATA_PATH=/workspace/dataset/behavior-datasets
  #         export ISAAC_PATH=/workspace/dataset/isaac-sim
  #         source switch_env behavior-openvla-oft
  #         bash tests/e2e_tests/embodied/run.sh behavior_ppo_openvlaoft

  # embodied-metaworld-50-ppo-openpi-test:
  #   runs-on: image-test
  #   container:
  #     image: rlinf/rlinf:agentic-rlinf0.1-torch2.6.0-openvla-openvlaoft-pi0
  #     volumes:
  #       - /workspace/dataset:/workspace/dataset
  #     options: --gpus="all" --shm-size=2g
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v5
  #     - name: OPENPI test
  #       timeout-minutes: 20
  #       run: |
  #         export REPO_PATH=$(pwd)
  #         source switch_env openpi
  #         bash tests/e2e_tests/embodied/run.sh metaworld_50_ppo_openpi