name: Embodied End-to-End Tests

on:
  workflow_call:

# Declare permissions just read content.
permissions:
  contents: read

env:
  IMAGE: "rlinf/rlinf:agentic-rlinf0.1-torch2.6.0-openvla-openvlaoft-pi0"
  DYNAMIC_RUNNER_ENDPOINT: "https://sd10g3clalm04ug7alq90.apigateway-cn-beijing.volceapi.com/runner"

jobs:
  setup:
    runs-on: image-test
    outputs:
      runner-label: ${{ steps.create-runner.outputs.runner-label }}
      mlp-task-id: ${{ steps.create-runner.outputs.mlp-task-id }}
    steps:
      - uses: actions/checkout@v5
      - id: create-runner
        uses: volcengine/vemlp-github-runner@v1
        with:
          mode: "create"
          faas-url: "${{ env.DYNAMIC_RUNNER_ENDPOINT }}"
          mlp-image: "${{ env.IMAGE }}"

  embodied-maniskill-ppo-openvla-test:
    runs-on: embodied
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: OpenVLA test
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source switch_env openvla
          bash tests/e2e_tests/embodied/run.sh maniskill_ppo_openvla

  embodied-libero-goal-grpo-openvlaoft-test:
    needs: setup
    runs-on: image-test
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: OpenVLA-OFT test
        timeout-minutes: 20
        run: |
          export REPO_PATH=$(pwd)
          source switch_env openvla-oft
          bash tests/e2e_tests/embodied/run.sh libero_goal_grpo_openvlaoft

  cleanup:
    runs-on: image-test
    needs: [setup, embodied-libero-goal-grpo-openvlaoft-test]
    if: always()
    steps:
      - id: destroy-runner
        uses: volcengine/vemlp-github-runner@v1
        with:
          mode: "destroy"
          faas-url: "${{ env.DYNAMIC_RUNNER_ENDPOINT }}"
          mlp-task-id: "${{ needs.setup.outputs.mlp-task-id }}"
